<div class="profile-page sidebar-collapse">
    <!-- Navbar -->
    {{>header}}
    <!-- End Navbar -->
    <div class="wrapper">
        <div class="page-header clear-filter page-header-small" filter-color="orange">
            <div class="page-header-image" data-parallax="true"
                 style="background-image:url('/images/boston-public-library-Mi8ozXhtmqI-unsplash.jpg');">
            </div>
            <div class="container">
                <div class="photo-container">
                    <img src="http://static.asianetnews.com/img/default-user-avatar.png"
                         alt="">
                </div>
                <h3 class="title">{{user.email}}</h3>
                <p class="category">{{user.type}}</p>
                <div class="content">
                    
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="button-container">
                    {{#if verified}}
                    <a href="#button" class="btn btn-primary btn-round btn-lg" data-toggle="modal"
                       data-target="#ApplyModel">Apply for a role</a>
                    {{/if}}
                </div>

                {{#if hasErrors}}
                <div class="alert alert-danger" role="alert">
                    {{# each messages}}
                        <div class="container">
                            <div class="alert-icon">
                                &tridot;
                                <!--                                            <i class="now-ui-icons objects_support-17"></i>-->
                            </div>
                            <strong>alert!</strong> {{this}}
                            <button type="button" class="close" style="line-height: 1;" data-dismiss="alert"
                                    aria-label="Close">
                                        <span aria-hidden="true">
                                            &times;
                                        </span>
                            </button>
                        </div>
                    {{/each}}
                </div>
                {{/if }}
                {{#if data}}
                <h3 class="title">About me</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Enrollment no.</td>
                                    <td><i class="fa fa-id-card-o" aria-hidden="true"></i></td>
                                    <td>{{data.enrollmentNo}}</td>
                                </tr>
                                <tr>
                                    <td>Name</i></td>
                                    <td><i class="fa fa-id-card-o" aria-hidden="true"></i></td>
                                    <td>{{data.firstName}} {{data.middleName}} {{data.lastName}}</td>
                                </tr>
                                <tr>
                                    <td>Date of Birth</i></td>
                                    <td><i class="fa fa-birthday-cake" aria-hidden="true"></i></td>
                                    <td>{{data.dob}}</td>
                                </tr>
                                <tr>
                                    <td>Address</i></td>
                                    <td><i class="fa fa-map-pin" aria-hidden="true"></i></td>
                                    <td>{{data.address}}, {{data.city}}, {{data.state}} - {{data.pinCode}} {{#if data.address2}} <span class="text-primary">&</span>{{data.address2}}{{/if}}{{data.address2}}</td>
                                </tr>
                                {{#if data.standard}}
                                <tr>
                                    <td>Education</i></td>
                                    <td><i class="fa fa-graduation-cap" aria-hidden="true"></i></td>
                                    <td>{{data.standard}} - {{data.stream}} ({{data.medium}} medium)</td>
                                </tr>
                                <tr>
                                    <td>School</i></td>
                                    <td><i class="fa fa-building" aria-hidden="true"></i></td>
                                    <td>{{data.schoolName}} | <i class="fa fa-map-marker" aria-hidden="true"></i> {{data.schoolAddress}}</td>
                                </tr>
                                {{else}}
                                <tr>
                                    <td>School</i></td>
                                    <td><i class="fa fa-area-chart" aria-hidden="true"></i></td>
                                    <td>{{data.department}} - {{data.skill}}</td>
                                </tr>
                                <tr>
                                    <td>School</i></td>
                                    <td><i class="fa fa-user-circle-o" aria-hidden="true"></i></td>
                                    <td>{{data.designation}} | <i class="fa fa-money" aria-hidden="true"></i> {{data.salary}}</td>
                                </tr>
                                {{/if}}                      
                         
                            </tbody>
                        </table>
                    </div>
                {{/if}}

            </div>
        </div>
    </div>
    <!-- Mini Modal -->
    <div class="modal fade modal-mini modal-primary" id="ApplyModel" tabindex="-1" role="dialog"
         aria-labelledby="ApplyModelLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <p>Apply a Request as</p>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <a href="/users/student-details" class="btn btn-link btn-neutral">
                                    <div class="modal-profile">
                                        <i class="fas fa-5x fa-user-graduate"></i>
                                    </div>
                                    <span>&nbsp;&nbsp;Student&nbsp;&nbsp;</span>
                                </a></div>
                            <div class="col-6">
                                <a href="/users/employee-details" class="btn btn-link btn-neutral">
                                    <div class="modal-profile"><i class="fas fa-5x fa-user-tie"></i>
                                    </div>
                                    <span>Employee</span>
                                </a></div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link btn-neutral">Back</button>
                    <button type="button" class="btn btn-link btn-neutral" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--  End Modal -->
    {{>footer}}

</div>